In [2]:
import pandas as pd

bitcoin = pd.read_csv('../data/bitcoindata.csv')

bitcoin.head()

         Date     Price      Open      High       Low     Vol. Change %
0  09/04/2024  69,092.9  71,627.3  71,737.2  68,615.0   87.93K   -3.54%
1  08/04/2024  71,630.1  69,358.0  72,710.8  69,110.5  105.78K    3.27%
2  07/04/2024  69,360.4  68,897.3  70,285.8  68,849.4   46.99K    0.68%
3  06/04/2024  68,890.6  67,830.5  69,632.0  67,467.2   41.48K    1.56%
4  05/04/2024  67,830.6  68,498.7  68,692.2  66,023.3   88.97K   -0.97%